mixin video(value)
    div
        h3
            a(href=`/video/${value.id}`)=value.title
        
        p=value.description
        ul 
            each list in value.hashtags
                li=list
        small=value.createdAt
        hr

