doctype html 
html(lang="ko")
    head
        title #{pageTitle} | #{siteTitle} 
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header 
            h2=pageTitle
            nav 
                ul 
                    li 
                        a(href="http:/") Home 
                    if  !loggedIn
                        li 
                            a(href="/join") Join
                        li 
                            a(href="/login") Login
                    else 
                        li 
                            a(href="/logout") Log Out
                        li
                            a(href="/user-profile") #{loggedInUser.name}
                    li 
                        a(href="/search") Search 
                    li 
                        a(href="/video/upload") Upload
        
        main
            block contents

    include partials/footer.pug