doctype html 
html(lang="ko")
    head
        title #{pageTitle} | #{siteTitle} 
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="/assets/css/styles.css")
    body
        header 
            h2=pageTitle
            nav 
                ul 
                    li 
                        a(href="/") Home 
                    if  !loggedIn
                        li 
                            a(href="/join") Join
                        li 
                            a(href="/login") Login
                    else 
                        li 
                            a(href="/user/logout") Log Out
                        li
                            a(href="/user/edit-profile") Edit Profile
                        li 
                            a(href="/video/upload") Upload Video
                    li 
                        a(href="/search") Search 
        
        main
            block contents

    include partials/footer.pug
block scripts     