doctype html 
html(lang="ko")
    head
        title #{pageTitle} | Wetube 
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header 
            h2=pageTitle
            nav 
                ul 
                    li 
                        a(href="http:/") Home 
                    li 
                        a(href="/search") Search 
                    li 
                        a(href="/video/upload") Upload
                    li 
                        a(href="/join") Join
        main
            block contents

    include partials/footer.pug