extends base

block contents
    header
        form(method="POST") 
            input(required, placeholder="please write video name" type="text" name="videoTitle")
            input(type="submit", value="Upload video")