extends ../base

block contents
    if errorMessage
        span=errorMessage
    form(method="post")
        input(type="password", name="oldPassword", placeholder="before Password")
        input(type="password", name="newPassword1", placeholder="Password")
        input(type="password", name="newPassword2", placeholder="again Password")
        input(type="submit", value="Change PW")